<div class="container col-sm-12">

    <section class="post">

        <hr />
        <h3 class="text-center">Active Games</h3>
        <hr />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center" style="width:25%">Away Team</th>
                    <th class="text-center" style="width:25%"></th>
                    <th class="text-center" style="width:25%">Home Team</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in games">
                    <td class="text-left"><a href="#/game/play/{{game.game_id}}/{{game.state.away_team.team_id}}" style="width: 100%" class="btn btn-danger btn-team" ng-disabled="!game.away_agent.human"><span class="glyphicon glyphicon-{{game.away_agent.human ? 'user' : ''}}"></span> {{game.state.away_team.name}} ({{game.away_agent.name}})</a></td>
                    <td class="text-center">{{game.state.away_team.state.score}} - {{game.state.home_team.state.score}}</td>
                    <td class="text-left"><a href="#/game/play/{{game.game_id}}/{{game.state.home_team.team_id}}" style="width: 100%" class="btn btn-primary btn-team" ng-disabled="!game.home_agent.human"><span class="glyphicon glyphicon-{{game.home_agent.human ? 'user' : ''}}"></span> {{game.state.home_team.name}} ({{game.home_agent.name}})</a></td>
                    <td class="text-right">
                        <a href="#/game/hotseat/{{game.game_id}}" class="btn btn-default" ng-disabled="!game.home_agent.human || !game.away_agent.human"> Hot-seat</a>
                        <a href="#/game/spectate/{{game.game_id}}" class="btn btn-default"> Spectate</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />

        <div style="height:30px" class="text-center">
            <div class="alert alert-danger" ng-show="message.is_error">{{message.message}}</div>
            <div class="alert alert-success" ng-show="message.is_success">{{message.message}}</div>
            <a href="#/game/create" class="btn btn-default" style="margin-top: 0px;">Create Game</a>
        </div>

    </section>

    <section class="post">
        <hr />
        <h3 class="text-center">Saved Games</h3>
        <hr />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="test-center">Name</th>
                    <th class="text-center" style="width:30%">Home Team</th>
                    <th class="text-center" style="width:10%"></th>
                    <th class="text-center">Away Team</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="save in savedGames" ng-click='openGame(game.game_id)'>
                    <td class="text-left">{{save.name}}</td>
                    <td class="text-center">{{save.game.game.state.away_team.name}}</td>
                    <td class="text-center">{{save.game.game.state.away_team.state.score}} - {{save.game.game.state.home_team.state.score}}</td>
                    <td class="text-center">{{save.game.game.state.home_team.name}}</td>
                    <td class="text-right">
                        <a href="#" ng-click="loadGame(save.name)" class="btn btn-success btn"><span class="glyphicon glyphicon-play"></span> Play</a>
                        <!--<button class="btn btn-danger btn-xs" ng-click="deleteGame(game.game_id)"><span class="glyphicon glyphicon-trash"></span> Concede</button>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="post">
        <hr />
        <h3 class="text-center">Replays</h3>
        <hr />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="test-center">Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="replay in replays" ng-click='openReplay(replay)'>
                    <td class="text-left">{{replay}}</td>
                    <td class="text-right">
                        <a href="#" ng-click="loadReplay(replay)" class="btn btn-success btn"><span class="glyphicon glyphicon-play"></span> Load</a>
                        <!--<button class="btn btn-danger btn-xs" ng-click="deleteGame(game.game_id)"><span class="glyphicon glyphicon-trash"></span> Concede</button>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</div>