<div class="container col-sm-12">

    <section class="post">
        <h3>Create new game</h3>
        <hr />
        <form name="CreateGame">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <h4>Home Team</h4>
                        <select id="homeTeam" ng-model="home_team_id" class="form-control">
                            <option ng-repeat="team in teams" value="{{team.team_id}}">{{team.name}} ({{team.race}})</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-8 text-left" ng-if="home_team_id != null">
                    <div class="row">
                        <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Fan Factor</th>
                                    <th class="text-center">Rerolls</th>
                                    <th class="text-center">Apothecary</th>
                                    <th class="text-center">Cheerleaders</th>
                                    <th class="text-center">Ass. Coaches</th>
                                    <th class="text-center">Treasury</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ getTeam(home_team_id).fan_factor }}</td>
                                    <td class="text-center">{{ getTeam(home_team_id).rerolls }}</td>
                                    <td class="text-center"><span class="team-icon"><img src="static/img/team_status/apoth.gif" class="{{ getTeam(home_team_id).apothecary ? 'available' : 'used' }}" title="{{ getTeam(home_team_id) ? 'Apothecary' : 'No apothecary' }}" width="20px" height="20px" /></span></td>
                                    <td class="text-center">{{ getTeam(home_team_id).cheerleaders }}</td>
                                    <td class="text-center">{{ getTeam(home_team_id).ass_coaches }}</td>
                                    <td class="text-center">{{ getTeam(home_team_id).treasury }}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="home_team_id != null">

                <button type="button" class="btn btn-default" ng-click="hide_home_players = !hide_home_players" ng-init="hide_home_players=true">{{ hide_home_players ? 'Show roster' : 'Hide roster'}}</button>

                <div class="row" ng-hide="hide_home_players" style="margin-top:12px">
                    <div class="col-lg-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Position</th>
                                    <th class="text-center">MA</th>
                                    <th class="text-center">ST</th>
                                    <th class="text-center">AG</th>
                                    <th class="text-center">AV</th>
                                    <th class="text-center">Skill</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in getTeam(home_team_id).players">
                                    <td>{{ player.nr }}. {{ player.name}}</td>
                                    <td><img width="20px" src="static/img/iconssmall/{{ playerIcon(player, true, getTeam(home_team_id).race, false) }}" /> {{ player.position_name }}</td>
                                    <td class="text-center">{{ player.ma }}</td>
                                    <td class="text-center">{{ player.st }}</td>
                                    <td class="text-center">{{ player.ag }}</td>
                                    <td class="text-center">{{ player.av }}</td>
                                    <td><span class="" ng-repeat="skill in player.skills">{{ prettify(skill) }}{{$last ? '' : ', '}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <h4>Away Team</h4>
                        <select id="awayTeam" ng-model="away_team_id" class="form-control">
                            <option ng-repeat="team in teams" value="{{team.team_id}}">{{team.name}} ({{team.race}})</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-8 text-left" ng-if="away_team_id != null">
                    <div class="row">
                        <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Fan Factor</th>
                                    <th class="text-center">Reroll</th>
                                    <th class="text-center">Apothecary</th>
                                    <th class="text-center">Cheerleaders</th>
                                    <th class="text-center">Ass. Coaches</th>
                                    <th class="text-center">Treasury</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ getTeam(away_team_id).fan_factor }}</td>
                                    <td class="text-center">{{ getTeam(away_team_id).rerolls }}</td>
                                    <td class="text-center"><span class="team-icon"><img src="static/img/team_status/apoth.gif" class="{{ getTeam(away_team_id).apothecary ? 'available' : 'used' }}" title="{{ getTeam(away_team_id) ? 'Apothecary' : 'No apothecary' }}" width="20px" height="20px" /></span></td>
                                    <td class="text-center">{{ getTeam(away_team_id).cheerleaders }}</td>
                                    <td class="text-center">{{ getTeam(away_team_id).ass_coaches }}</td>
                                    <td class="text-center">{{ getTeam(away_team_id).treasury }}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="away_team_id != null">
                <button type="button" class="btn btn-default" ng-click="hide_away_players = !hide_away_players" ng-init="hide_away_players=true">{{ hide_away_players ? 'Show roster' : 'Hide roster'}}</button>

                <div class="row" ng-hide="hide_away_players" style="margin-top:12px">

                    <div class="col-lg-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Position</th>
                                    <th class="text-center">MA</th>
                                    <th class="text-center">ST</th>
                                    <th class="text-center">AG</th>
                                    <th class="text-center">AV</th>
                                    <th class="text-center">Skill</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in getTeam(away_team_id).players">
                                    <td>{{ player.nr }}. {{ player.name}}</td>
                                    <td><img width="20px" src="static/img/iconssmall/{{ playerIcon(player, false, getTeam(away_team_id).race, false) }}" /> {{ player.position_name }}</td>
                                    <td class="text-center">{{ player.ma }}</td>
                                    <td class="text-center">{{ player.st }}</td>
                                    <td class="text-center">{{ player.ag }}</td>
                                    <td class="text-center">{{ player.av }}</td>
                                    <td><span class="" ng-repeat="skill in player.skills">{{ prettify(skill) }}{{$last ? '' : ', '}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="text-center">
                <button type="submit" ng-disabled="away_team_id == home_team_id && away_team_id != null" class="btn btn-success" ng-click="save(game, false)">Create Game</button>
            </div>
        </form>

    </section>

</div>