<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Bot Bowl">
      <meta name="fragment" content="!">
      <title>botbowl: Fantasy Football AI</title>
      <!--<link href="static/dist/css/font-awesome.min.css" rel="stylesheet">-->
      <link href="static/lib/wysiwyg/css/bootstrap.min.css" rel="stylesheet">
      <link href="static/dist/css/style.css" rel="stylesheet">
  </head>
  
    <body ng-app="app">

        <div ng-view></div>

        <script src="static/lib/angular/angular.min.js"></script>
        <script src="static/lib/angular/angular-sanitize.min.js"></script>
        <script src="static/lib/angular/angular-route.min.js"></script>
        <script src="static/lib/jquery/jquery-2.0.3.min.js"></script>
        <script src="static/dist/js/botbowl.js"></script>
        <script src="static/lib/wysiwyg/js/wysihtml5-0.3.0.min.js"></script>
        <script src="static/lib/wysiwyg/js/bootstrap.min.js"></script>
        <!--<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>-->
    </body>

</html>